<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Live Server - Proyecto</title>
        <link rel="stylesheet" href="/style/styles.css">
    </head>
    <body>
        <h1>Bienvenue sur le serveur Go Live !</h1>
        <p>Votre serveur de développement fonctionne correctement.</p>
        <p>Modifiez ce fichier dans <code>views/index.html</code> pour commencer.</p>
        
    </body>
    </html>
      