<footer>
    <div class="footer-inner">
        <span>Gestion d'Offres de Stage</span>
        <span><a href="{{ site_url }}/legals.php">Conditions &amp; Mentions légales</a></span>
    </div>
</footer>