{% extends "base.html.twig" %}

{% block title %}Gestion des etudiants — SF Prosit{% endblock %}

{% block body %}
<div class="page-header" style="padding-top: 2rem;">
    <h1>Vous etes dans la page gestion des etudiants</h1>
</div>
{% endblock %}